main{
    grid-template-columns: auto auto auto auto;
}
article{
    padding:3.8rem;
}
.article__p{
    height: 21rem;
}
form{
    margin:0 auto;
    width: 50%;
    margin-bottom: 1.7rem;
}
nav{
    flex: 0 1 10rem;
}
nav ul{
    flex-direction: column;
}
nav ul li{
    margin-bottom:1rem;
}