*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    font-size:62.5%;
}
header{
    height:auto;
}
h1, form{
    text-align: center;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(69, 69, 69);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
form{
    width: 100%;
    margin-bottom:1rem;
}
input{
    padding: 0.5rem;
    border-radius: 0.8rem;
    color: rgb(57, 57, 57);
}
input[type="text"]{
    width: 80%;
}

.container{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
p{
    font-size: large;
    padding: 2rem;
    text-align: center;
    color:black;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
nav{
    background-color: rgb(72 70 72);
    flex: 1 1 1rem;
}
nav ul{
    display: flex;
    justify-content:space-evenly;
    padding: 1rem;
}
nav li a{
    font-family: "Helvetica Neue",Helvetica;
    padding: 0.5rem;
    border-radius: 1rem;
}

main{
    height: auto;
    flex: 1 1 82rem;
}
article{
    max-width: 34rem;
    height: auto;
    margin:0 auto;
    padding:2rem;
}
.article__container{
    display: flex;
    height: auto;
    justify-content: space-between;
}
img{
    width: 8rem;
    height: 8rem;
}
.article__title{
    margin-bottom:1rem;
    background-color: beige;
}
.article__title h1{
    margin:0 auto;
    padding: 0.5rem;
}
.article__title p{
    background-color: rgb(252, 249, 249);
    font-size: 1.4rem;
}
.dimension{
    width: 18rem;
}
.article__info{
    color: white;
    background-color:rgb(75 104 110);
    border-radius: 1rem;
}
button{
    margin:1rem 0 0 11rem;
}

footer{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 1.5rem;
    background-color: rgb(81, 80, 80);
    color: white;
}
footer ul{
    display: flex;
    gap: 2rem;
}